/* index.css */

.teachers-view .Homecontainer {
  margin-left: 250px;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
  width: calc(100% - 250px);
  background-size: cover;
  height: 100vh;
}

.titalheading {
  margin-top: 56px;
  color: black;
  margin-left: 35%;
}

/* .teachers-view h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.teachers-view p {
  font-size: 16px;
  color: #666;
} */

.teachers-view .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.teachers-view .card {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-size: 16px;
  width: 270px;
}

.teachers-view .card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.teachers-view .card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.teachers-view .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.teachers-view .link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .teachers-view .Homecontainer {
      margin-left: 0;
      width: 100%;
  }

  .titalheading {
  
    margin-left: 0%;
  }

}
